/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Lora:wght@500;600&family=Poppins:wght@400;500&display=swap");

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  transition: background 0.4s; /* for dark mode animation */
  padding: 0 7%;
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== THEME ===============*/

/*========== 
    Color changes in some parts of 
    the website, in light theme
==========*/

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1024px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 1rem;
  display: flex;
}

.section__title {
  font-size: var(--h1-font-size);
  font-family: var(--title-font);
  margin-bottom: 1.5rem;
}

.section__subtitle {
  display: block;
  font-size: var(--h2-font-size);
  font-family: var(--subtitle-font);
  color: var(--first-color);
  margin-bottom: 0.5rem;
}

.section__title,
.section__subtitle {
  text-align: center;
}

.main {
  overflow: hidden; /* For animation ScrollReveal */
}

.dflex {
  display: flex;
}

.aic {
  align-items: center;
}

.jcc {
  justify-content: center;
}

.jcs {
  justify-content: space-between;
}

/*=============== HEADER & NAV ===============*/

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1% 0;
}

.header img {
  width: 40px;
}

nav a {
  color: var(--title-color);
  margin-right: 2rem;
  font-size: 1.2rem;
}

nav a.active {
  color: var(--first-color);
}

.fa-moon {
  cursor: pointer;
  font-size: 1.5rem;
}

.fa-solid.fa-bars {
  display: none;
  margin-left: 2rem;
  font-size: 2rem;
}

/* Show menu */

/* Change background header */

/* Active link */

/*=============== HOME ===============*/

.home h2 {
  font-size: var(--biggest-font-size);
  font-family: var(--title-font);
}

.home h2 img {
  width: 2.7rem;
}

.home p {
  margin: 1rem 0;
}

/*=============== BUTTON ===============*/

.mainBtn {
  background-color: var(--first-color);
  color: #fff;
  border: none;
  padding: 13px 20px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1rem;
}

.mainBtn i {
  transition: 0.3s;
}

.mainBtn:hover i {
  transform: translateX(5px);
}

/*=============== ABOUT ===============*/

.about h2 {
  font-size: var(--h1-font-size);
  font-family: var(--title-font);
}

.about h2 img {
  width: 2.7rem;
}

.about p,
.recently p {
  margin: 1rem 0;
}

.about h4 {
  font-family: var(--subtitle-font);
  color: var(--first-color);
  font-size: var(--h2-font-size);
}

.about div:last-child {
  width: 90%;
  padding: 0 10%;
}

/*=============== POPULAR ===============*/

.popular {
  flex-direction: column;
}

.popularTitle {
  width: 100%;
  text-align: center;
}

.popular h2,
.recently h2 {
  font-size: var(--h1-font-size);
  font-family: var(--title-font);
}

.popular h4 {
  font-family: var(--subtitle-font);
  color: var(--first-color);
  font-size: var(--h2-font-size);
}

.deck {
  margin-top: 4rem;
  text-align: center;
}

.card {
  background-color: var(--container-color);
  display: inline-block;
  border-radius: 10px;
  padding: 0 10px;
  position: relative;
  margin: 1rem;
  box-shadow: 2px 4px 35px -11px rgba(0, 0, 0, 0.75);
}

.card:hover .inner img {
  transform: translateY(-5px);
}

.inner {
  text-align: center;
  position: relative;
  top: -40px;
}

.inner img {
  width: 200px;
  transition: 0.3s;
}

.inner h5 {
  font-family: var(--title-font);
  font-size: var(--h2-font-size);
}

.inner p {
  color: var(--first-color);
  font-size: 1.2rem;
  font-weight: 600;
}

.fa-solid.fa-bag-shopping {
  background-color: var(--first-color);
  color: #fff;
  padding: 8px;
  border-radius: 50%;
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
  cursor: pointer;
}

/*=============== RECENTLY ===============*/

.recently h4 {
  font-family: var(--subtitle-font);
  color: var(--first-color);
  font-size: var(--h2-font-size);
}

/*=============== NEWSLETTER ===============*/
.newsletter {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: hsl(20, 27%, 11%);
  margin: 0 10%;
  border-radius: 30px;
  width: 100%;
  padding: 3%;
}

.newsletter img {
  width: 200px;
}

.newsletter h2 {
  font-family: var(--title-font);
  color: var(--container-color);
  font-size: var(--h1-font-size);
}

.newsletter h4 {
  font-family: var(--subtitle-font);
  color: var(--first-color);
  font-size: var(--h2-font-size);
}

.newsletter .newsBtn {
  background-color: var(--container-color);
  padding: 5px;
  border-radius: 25px;
  margin-top: 2rem;
}

.newsBtn {
  display: flex;
  justify-content: space-between;
}

.newsBtn input {
  background-color: var(--container-color);
  border: none;
  outline: none;
  padding: 0 10px;
  font-size: 1rem;
  border-radius: 25px;
}

/*=============== FOOTER ===============*/
.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  padding: 2rem 0;
}

.footer img {
  width: 40px;
}

.rightNav {
  display: flex;
  gap: 3rem;
}

.rightNav h4 {
  margin-bottom: 1rem;
  color: var(--title-color);
}

.social i {
  margin-right: 0.6rem;
  font-size: 1.3rem;
  color: var(--first-color);
}

/*=============== SCROLL BAR ===============*/

/*=============== SCROLL UP ===============*/

/* Show Scroll Up*/

/*=============== BREAKPOINTS ===============*/

/* For large devices */

/* For medium devices */
@media (max-width: 768px) {
  .home h2 img {
    width: 2rem;
  }

  .about div:last-child {
    width: 120%;
    padding: 0 10%;
  }

  .inner img {
    width: 160px;
  }

  .fa-solid.fa-bag-shopping {
    bottom: 1rem;
    right: 1rem;
  }

  .newsBtn input {
    width: 50%;
  }

  .footer {
    flex-direction: column;
    gap: 2rem;
  }
}

/* For small devices */

@media (max-width: 520px) {
  .header {
    padding: 5%;
    position: relative;
    z-index: 9;
  }

  nav {
    position: absolute;
    top: -280px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5% 0;
    width: 100%;
    background-color: var(--body-color);
    transition: 1s ease-in-out;
    z-index: 2;
  }

  nav.active {
    top: 60px;
  }

  nav a {
    margin-bottom: 2rem;
  }

  .fa-solid.fa-bars {
    display: block;
  }

  .section {
    flex-direction: column;
  }

  .about div:last-child {
    width: 100%;
    padding: 0;
  }

  .about {
    flex-direction: column-reverse;
  }

  .card {
    margin-bottom: 3rem;
  }

  .inner img {
    width: 200px;
  }

  .newsletter {
    flex-direction: column;
    width: auto;
    margin: 0;
    padding: 2rem 1rem;
  }

  .footer .rightNav {
    flex-wrap: wrap;
  }
}
